@font-face {
    font-family: 'Poppins';
    font-weight: bold;
    src: url('FONTS/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-weight: regular;
    src: url('FONTS/Poppins-Light.ttf');
}


.poppinsBold{
    -fx-font-family: 'Poppins';
    -fx-font-weight: bold;
}

.poppinsLight{
    -fx-font-family: 'Poppins Regular';
}

.default-color0.chart-bar {
    -fx-bar-fill: #DAA520;
    }
.default-color1.chart-bar {
    -fx-bar-fill: #E5C51D;
    }
.default-color2.chart-bar {
    -fx-bar-fill: #FBEC5D;
    }

.default-color0.chart-pie {
      -fx-pie-color: #FFEA00;
   }
.default-color1.chart-pie {
      -fx-pie-color: #E5C51D;
   }
.default-color2.chart-pie {
      -fx-pie-color: #FBEC5D;
   }
.default-color3.chart-pie {
      -fx-pie-color: #DAA520;
   }